---
Checks: "*,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -fuchsia-default-arguments-calls,
         -google-readability-todo,
         -google-runtime-int,
         -google-default-arguments,
         -llvmlibc-implementation-in-namespace,
         -llvmlibc-callee-namespace,
         -llvm-include-order,
         -modernize-use-trailing-return-type,
         -modernize-return-braced-init-list, # I Don't really like it
         -modernize-use-auto, # I Don't really like it
         -hicpp-use-auto,
         -misc-include-cleaner,
         -readability-function-cognitive-complexity,
         -readability-identifier-length"